.container{
  position: relative;
}
.x {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}
.o {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}
body { background-color: black}
.bot {border-bottom: thick solid #14bdac}
.right {border-right: thick solid #14bdac;}
.left {border-left: thick solid #14bdac;}


.grid {
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-left: -200px;
  margin-top: -200px;
  display: table;
  border-spacing: 0px;
  position: absolute;
  visibility: hidden;
  z-index: 1;
}
.cell {
  position: relative;
  width: 104px;
  height: 104px;
  background: black;
  display: table-cell;
  cursor: pointer;
  background-color: transparent;
}

.w3-xxlarge {
    font-size: 35px!important;
    top: 12px;
}
.row {
  display: table-row
}

.dropbtn {
  position: absolute;
  left: 4%;
  background-color: black;
  color: #14bdac;
  border: none;
  cursor: pointer;

}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 5;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    cursor: pointer;
    z-index: 5;
}
.dropdown-content a:hover {background-color: #14bdac;
opacity: 1;}

.scorenmenu {
  width: 400px;
  margin-left: -200px;
  margin-top: -278px;
  position: absolute;
  left: 50%;
  top: 50%;
  padding: 27px 0px;
  text-align: center;
  color: #14bdac;
}
.score span {
    font: 20px "Raleway",sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 1;
    display: inline-block;
    margin: 0;
    padding: 0;
    /*-webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);*/
  }
.score span:hover {color: white}
#winner {
  position: absolute;;
  top: 200px;
text-transform: uppercase;
}
#xscore {
  position: absolute;
  left: 50%;
  width: 100px;
  margin-left: -50px;
  cursor: pointer;
}
#oscore {
  position:absolute;
  right: 0px;
  cursor: pointer;
}
.win_marker {
  font-size: 43px;
}
.word_winner {
  font-size: 30px;
}
.button {
  font-size: 20px;
  cursor: pointer;
  background-color: transparent;
  color: #14bdac;
  position: absolute;
  top: 88%;
  left: 50%;
  margin-left: -100px;
  border: none;
  text-transform: uppercase;
  width: 200px;
}
button:hover {color: white}
  button:focus {outline:0;}

  @media only screen and (max-width: 500px) {
      .grid {
          position: absolute;
          top: 60%;
          left: 50%;
          width: 300px;
          height: 300px;
          margin-left: -150px;
          margin-top: -200px;
          display: table;
          border-spacing: 0px;
          visibility: hidden;
          z-index: 1;
      }

      .cell {
        position: relative;
        width: 90px;
        height: 90px;
        background: black;
        display: table-cell;
        cursor: pointer;
        background-color: transparent;
      }
      .scorenmenu {
        width: 300px;
        margin-left: -150px;
        margin-top: -278px;
        position: absolute;
        left: 50%;
        top: 58%;
        padding: 27px 0px;
        text-align: center;
        color: #14bdac;
      }
      .score span {
    font: 18px "Raleway",sans-serif;}
      #xscore {
        position: absolute;
        left: 50%;
        width: 100px;
        margin-left: -50px;
        cursor: pointer;
      }
      #oscore {
        position:absolute;
        right: 0px;
        cursor: pointer;
      }
    .button {
      position: absolute;
      top: 87%;
    }
    body{margin: 0px}
  }
